body {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
background: -moz-linear-gradient(-45deg,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-size: cover;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 20%;
    border-radius: 7px;
}
a {
    color:aqua;
}
a:hover{
    color:rgb(11, 73, 73);
}
h1{
    margin-top: -7px;
    margin-bottom: -5px;
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-family: 'Bebas Neue', cursive;
    display: inline;
}
ul {
    list-style-type:square;
    column-count: 2;
    column-gap: 20px;
}
ul li{
    color:aqua;
}
#habilidades {
    display:block;
}